ul {
    list-style-type: none;
}

.react-share__ShareButton {
    .fa-facebook, .fa-linkedin, .fa-twitter {
        font-size: 18px;
    }

    .fa-twitter {
        color: #4285F4 !important;
    }

    &:hover {
        box-shadow: none !important;
    }

    &:nth-child(2) {
        margin-left: 0 !important;
        padding: 0 10px !important;
    }

    &:first-child, &:last-child {
        margin: 0 !important;
    }
}